/****** GENERAL ********/

body {
	font-family: 'BenchNine', sans-serif;
  margin: auto;
  max-width: 100%;

}

a:hover,
a:visited,
a {
  text-decoration: none;
  color: #fff;
}


img {
  max-width: 100%;
}

p {
  font-size: 1.25em;
}

/******* HEADING ********/

#logo {
  text-align: left;
}

h1 {
  font-family: 'BenchNine', sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  line-height: .8em;
  color: #ccc;
}

h2 {
  margin: 10px auto 2px auto;
  font-size: 1.5em;
  font-weight: normal;
}

h3 {
  font-size: .5em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}


/****** FOOTER **********/

footer {
  color: #aaa;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  clear: both;
} 

/****** PAGES ***********/
.email {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: .8em;
}

.phone {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: .8em;
}

/******* COLORS *********/

/*Site Body*/
body {
	background-color: #1a1a1a;
}


/*Links*/
a {
 color: #bbb;
 z-index: 200;
}

/*nav link*/
nav a, nav a:visited {
  color: #bbb;
}

/*Labels & Paragraphs*/

h2 {
  color: #888;
}

h3 {
  color: #555;
}

h4 {
  color: #ccc;
}

p {
  color: #888;
}




/*Background on Reel Page*/
#reelbody {
background-color: #000;
}

iframe {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 2em;
  }


/*Containing Portions to do Special CSS*/

.main-footer {
  
  padding-top: .25em;
  border-top: solid .05em #aaa;
  margin-bottom: -2em;
}

.img-responsive {
  max-width: 900px;
}


.topper {
  border-bottom: solid .05em #aaa;
}

.methods {
  padding-bottom: 1.5em;
  border-bottom: solid .05em #aaa;
  font-size: 1.5em;
  z-index: 501;
}

.mestre {
  padding: -2em 0 2em 0;
}

.torchimage {
  padding: 2em 0 0 0;
}

.video-wrapper {

}

.mestrethumb {
  padding-top: 3em;
}

.screencap {
  padding-top: 1em;
  padding-bottom: 2em;
}


/** ABOUT PAGE**/
.about-container {
  position: relative;
  max-width: 900px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.details {
  padding-top: 2em;
}

#container {
  position: relative;
  max-width: 900px;
}
#image {
  position: absolute;
  left: 0;
  max-width: 900px;
  top: 0;
}
#text {
  z-index: 10;
  position: absolute;
  color: white;
  font-size: 1.3em;
  font-weight: 300;
  bottom: 0em;
  text-align: justify;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1em;
}

.nav {
  float: none;
}

.special {
  float: right;
}


/***************************/
@media (min-width: 992px) {

  .exp:hover {
    z-index:100;
  }
  .skill + .exp {
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    z-index:101;
    bottom: 0em;
    text-align: center;
  }
  .skill:hover + .exp {
    opacity: 1;
    z-index: 99;
  }
}

/***************************/
@media (max-width: 991px) {
  img {
    display: block;
    margin: auto;
  }

  .skill + .exp {
    position: relative;
    text-align: center;
  }



/****************************/
@media (max-width: 767px) {

  .skill + .exp {
    position: relative;
    text-align: center;
  }

  #text {
    position: relative;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: -1em;
    margin-left: 1em;
    margin-right: 1em;
  } 


  .container {
    margin-left: 0em;
    margin-right: 0em;
  }

  h5 {
  padding-bottom: .5em;
}

  .page-header {
    margin-top: 0;
    border-bottom: solid .05em #aaa;
  }

  .topper,
  .page-header,
  #logo {
    display: block;
    text-align: center;
    float:auto;
    margin-left: auto;
    margin-right: auto;
  }

  .about-paragraph {
    padding-top: -10em;
  }


  .nav,
  .nav-pills,
  .special {
      display: inline-block;
      float: none;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -.5em;
  }

  .methods {
    padding-bottom: 0;
  }

  footer {
    padding-top: 2em;
    padding-left: 2.25em;
    padding-right: 2.25em;
  }

  .details {
    text-align: center;
    padding-bottom: -2em;
  }

  .mestre {
    margin-top: -4em;
  }


  .reelly {
    margin-top: -3em;
    border-top: solid .05em #aaa;
  }
}
